@page
@model Projekt2025.Pages.AdminUser.AdminDashboardModel
@{
    ViewBag.Title = "Admin Dashboard";
}

<h2>Welcome to the Admin Dashboard</h2>
<p>You are successfully logged in as admin.</p>

<p>
    <a asp-page="Create">Create New Event</a>
</p>



@if (Model.Events != null && Model.Events.Any())
{
    @foreach (var item in Model.Events)
    {
        <table class="table">
            <thead>
                <tr>
                    <td>
                        <ul>@item.EventId</ul>
                    </td>
                    <td>
                        <ul>@item.Title</ul>
                    </td>
                    <td>
                        <ul>@item.EventDateTimeStart</ul>
                    </td>
                    <td>
                        <ul>@item.Description</ul>
                    </td>
                    <td>
                        <ul>@item.Location</ul>
                    </td>
                    <td>
                        <ul>@item.Price</ul>
                    </td>
                    <td>
                        <ul>@item.Participants</ul>
                    </td>
                    <td>
                        <ul>@item.EventDateTimeEnd</ul>
                    </td>
                </tr>
            </thead>
        </table>
    }
}


<form method="post" asp-page-handler="Logout">
    <button type="submit" class="btn btn-primary">Logout</button>
</form>
