@page
@model Projekt2025.Pages.EventsModel
@{
    ViewData["Title"] = "Events";
}
<a asp-page="/Events/EventKalender" class="btn btn-primary"> Vis events i kalenderen </a>
<a asp-page="/Events/AlleEvents" class="btn btn-primary"> Se Alle Events </a>


<h1>Upcoming Events</h1>

@if (Model.Events != null && Model.Events.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>EventStart</th>
                <th>EventEnd</th>
                <th>Beskrivelse</th>
                <th>Lokation</th>
                <th>Pris</th>
                <th>Deltagere</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var evt in Model.Events)
            {
                <tr>
                    <td>@evt.Title</td>
                    <td>@evt.EventDateTimeStart.ToString("dd-MM-yyyy HH:mm")</td>
                    <td>@evt.EventDateTimeEnd.ToString("dd-MM-yyyy HH:mm")</td>
                    <td>@evt.Description</td>
                    <td>@evt.Location</td>
                    <td>@evt.Price.ToString("dk")</td>
                    <td>@evt.Participants</td>
                    <td>
                        <form method="post">
                            <button type="submit" class="btn btn-success">Tilmeld</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
